<div id="login-bg" class="container-fluid">
  <div class="bg-img"></div>
  <div class="bg-color"></div>
</div>

<div class="continer d-flex align-items-center d-flex justify-content-center">
  <div class="row col-8">
    <div class="card shadow-lg bg-body rounded background-div">
      <div class="row d-flex flex-row-reverse">
        <div class="col-md-6 py-2 text-end">
          <p class="text-center">!! خير عليكم في دردشتك</p>
          <div class="d-flex justify-content-center">
            <img class="img-login" src="assets/img/login.png" alt="" />
          </div>

          <p class="text-center">!! معندكش ايميل !! هي شن تستنى</p>
          <div class="d-flex justify-content-center">
            <a class="center" routerLink="/singup">دير حساب جديد</a>
          </div>
        </div>
        <div class="col-md-6 div-form">
          <form class="py-5 ps-3 text-end">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-end"
                >عنوان البريد الإلكتروني</label
              >
              <input
                type="email"
                class="form-control text-end input-css"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text mt-2">
                لا تشارك بريدك الإلكتروني مع أي شخص آخر.
              </div>
            </div>
            <div class="mb-5">
              <label for="exampleInputPassword1" class="form-label"
                >كلمة المرور</label
              >
              <input
                type="password "
                class="form-control text-end input-css"
                id="exampleInputPassword1"
              />
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
